.flanja-1,
.flanja-2,
.flanja-3{
  width: 100%;
}

.flanja-1{
  height: 600px;
  background-color: yellow;
}

.flanja-2{
  height: 300px;
  background-color: blue;
}

.flanja-3{
  height: 300px;
  background-color: red;
}