body{
  background: #00cfd5;
  min-height: 100vh;
}

.contenedor{
  margin: auto;
  perspective: 300px;
}

.fotos{
  width: 200px;
  height: 300px;
  position: absolute;
}

.fotos div{
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateX(90deg);
}